.CardDataContainer{
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-bottom:150px ;
}

.CardData-box{
  display:flex;
  justify-content: space-between;
  padding: 22px 28px;
  border-radius: 10px;
  max-width: 915px;
}

/* .CardData-box:hover{
  background-color: rgba(0, 0, 0, 0.32);
} */

.CardData-title{
  width: 40%;
  padding: 15px 10px;
}

.CardData-title p{
  color: var(--blueSemiLight);
  width: 90%;
}

.CardData-title h4 {
  font-size: 20px;
  margin-top: 0px;
}

.CardData-img{
  width: 40%;
  justify-content: center;
  align-items: center;
}

.CardData-img img{
  width: 100%;
  max-width: 335px;
}

.CardData-button{
  margin-top: 20px;
}

.CardData-button a{
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 10px;
  /* background-color: var; */
  border:1.5px solid #fff;
}

.CardData-button a:hover{
  background: rgba(0, 0, 0, 4);
}

@media screen and (max-width: 1200px){
  .CardData-img{
    margin: auto;
  }
}

@media screen and (max-width: 950px){
  .CardData-box{
    /* margin:50px 20px; */
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 55vh; */
    grid-template-areas:
    "CardData-img"
    "CardData-title";
    position: relative;
  }

  .CardData-title{
    grid-area: CardData-title;
    align-items: flex-end;

  }
  .CardData-img{
    grid-area: CardData-img;
    align-items: flex-start;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .CardData-title{
    width: 90%;
  }
  .CardData-button{
    display: flex;
    justify-content: center;
  }
}



@media screen and (max-width: 630px){
  .CardDataContainer{
    width: 100%;    
    margin-bottom: 90px;
  }

  .ContentData > h3{
    font-size: 28px;
    margin-bottom: 60px;
  }
}