.Header{
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1px solid var(--blueSemiLight);
  
}

.Header-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.Header-nav li a{
  border-radius: 30px;
}

.Header-nav__help li a:hover{
  /* color: var(--blue); */
  background-color: var(--blueSemiLight);
}

.Header-nav li a{
  padding: 10px 30px;
}
.Header-nav__help{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid var(--white); */
}
.Header-nav__principal li{
  padding: 0px 10px;
}

.Header-nav__principal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-nav__principal li a{
  border: 1px solid var(--blackSemiLight);
}

.Header-nav__principal li a:hover{
  background-color: var(--blue);
  color:var(--white);
  border: 1px solid var(--blue);
}
.Header-icons{
  display: none;
}

@media screen and (max-width: 570px){
  .Header{
    position: relative;
  }
  .Header-title{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .Header-title h3{
    display: flex;
    justify-content: center;
  }
  .Header-nav{
    position: absolute;
    left: -3000px;
  }

  .Header-icons{
    display: flex;
    padding: 10px 12px;
    border-radius: 50%;
    position: fixed;
    z-index: 130;
    right: 10px;
    cursor: pointer;
    background-color: var(--blueSemiLight);
  }
  .Header-nav.active{
    left: 0;
    width: 100%;
    z-index: 120;
    /* margin-top: 70px; */
    top: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blueBlack);
    position: fixed;
    padding: 30px 0px;
  }

  .Header-nav__help{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .Header-nav__help li{
    padding: 30px 0px;
  }
}