.Landing{
  width: 100%;
}

figure{
  margin: 0px;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  clip-path: polygon(0 0, 100% 0%, 99% 76%, 0 88%);

}
.hero .hero-title{
  display: flex;
  /* width: 90%; */
  height: 100vh;
  background-color: var(--blueLight);
  /* justify-content: center; */
  align-items: center;
}
.hero-title{
  clip-path: polygon(100% 0, 70% 20%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
}

.hero-title h4{
  width: 70%;
  margin: 0px;
  font-size: 28px;
  padding: 20px 40px;
  color: var(--white);
}

.hero figure img{
  height: 100vh;
  width: 500px;
  /* padding: 10px; */
  /* border: 1px solid var(--blue); */
}

.ContentVideos> h3{
  padding-left:40px ;
  margin-bottom: 30px;
  font-size: 28px;
}
