/* clase del landing */
.References{
  display:flex;
  height: 300px;
  /* margin: 200px 0px; */
  margin-bottom: 100px;
  justify-content: center;
  padding: 20px 40px;
  flex-direction: column;
}
.References h4{
  color: var(--white);
  font-size: 32px;
  margin-left: 40px;
}

/* clases del componente */
.References-container{
  width: 70%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(4, .25fr);
  grid-template-areas:"References-box References-box References-box References-box" ;
}

.References-box{
  grid: References-box;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.References-box img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.References-box p{
  color: var(--blueSemiLight);
  font-size: 18px;
}

@media screen and (max-width: 850px){
  .References{
    height: auto;
  }
  .References-container{
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, .5fr);
    grid-template-areas:"References-box References-box" ;
  }

  .References-box{
    grid: References-box;
  }
}

@media screen and (max-width: 450px){
  .References-container{
    width: 100%;
    display: grid;
    margin: auto;
    grid-template-columns: 100%;
    grid-template-areas:"References-box" ;
  }
  .References-box{
    grid: References-box;
  }
}


