.VideoPlay{
  display: flex;
  justify-content: center;
}
.Video{
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.Video-title{
  padding: 5px 15px;
}
.Video-title h4{
  font-size: 20px;
}
/* .Video-play{

} */

.Video-title p{
  color: var(--blueSemiLight);
}

.Video-play iframe{
  transition: all 0.5s ease-out ;
}