.VideoPlay{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* .Video{
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-bottom: 150px;
} */

.Video-title{
  padding: 20px 30px;
  width: 70%;
}
.Video-title h4{
  font-size: 20px;
  margin-top:0px;
}

.Video-play{
  width: 800px;
}
.Video-play video{
  width: 100%;
}

.Video-title p{
  color: var(--blueSemiLight);
}

.video-js .vjs-big-play-button{
  /* display: flex; */
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.video-js .vjs-big-play-button 
.vjs-icon-placeholder:before, 
.video-js .vjs-play-control 
.vjs-icon-placeholder:before, 
.vjs-icon-play:before {
  display: flex;
  align-items: center;
  justify-content: center;
}