.VideoPlay{
  display: flex;
  justify-content: center;
}
.Video{
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-bottom: 150px;
}

.Video-title{
  padding: 5px 30px;
}
.Video-title h4{
  font-size: 20px;
  margin-top:0px;
}
/* .Video-play{

} */

.Video-title p{
  color: var(--blueSemiLight);
}

.Video-play iframe{
  transition: all 0.5s ease-out ;
}